table {
    width: 100%;
    border-collapse: collapse;
}
tr:nth-of-type(odd) { 
  background: #e4fcdb; /* Changing color of next section*/
}
th {
    background: #694;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border: 1px solid #fff;
    text-align: left;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: cadetblue;
}


/* RESPONSIVE MOBILE VERSION*/
@media only screen and (max-width: 992px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
        tr {
        border: 1px solid #ccc;
    }
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;        
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 40px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-size: bold;
   } 
    
    /* element before to put in 2 column way */
    td:nth-of-type(1):before { content: "City name"; }
	td:nth-of-type(2):before { content: "Province"; }
	td:nth-of-type(3):before { content: "Settled"; }
	td:nth-of-type(4):before { content: "Government Type"; }
	td:nth-of-type(5):before { content: "Area"; }
	td:nth-of-type(6):before { content: "Population"; }
	td:nth-of-type(7):before { content: "Density"; }
	td:nth-of-type(8):before { content: "Elevation"; }
	td:nth-of-type(9):before { content: "Demonym(s)"; }
	td:nth-of-type(10):before { content: "Time zone"; }
	td:nth-of-type(11):before { content: "Area codes"; }
	td:nth-of-type(12):before { content: "Website"; }
}
